/* Elementor styling
*/
.elementor {
    width: 100%;
    max-width: 100%;
}

.elementor-section {
    width: 100%;
    max-width: 100%;
}

.elementor-container {
    width: 100%;
    max-width: 100%;
}

.elementor-widget-container {
    width: 100%;
    max-width: 100%;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    width: 100%;
    max-width: 100%;
}

.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 0%;
}

.elementor_library-template {
    width: 100%;
    max-width: 100%;
}
/**/

/* Sipsy Reviews Widget Styling */
/**/
#sipsy-reviews-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
    width: 100%;
    height: auto;
    min-height: 322px;
    background-color: #fafafe;
}

#sipsy-reviews-container .header {
    margin-bottom: 63px;
    color: #021739;
    text-align: center;
    font-family: "Ambit Black", sans-serif;
    font-size: 35px;
    font-weight: 600;
}

#sipsy-reviews-container .content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

#sipsy-reviews-container .content .brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 100px;
}

#sipsy-reviews-container .content .brand .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    object-fit: contain;
}

#sipsy-reviews-container .content .brand .logo img {
    width: 110px !important;
    height: 35px !important;
    margin-bottom: 7.5px;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4em;
}

#sipsy-reviews-container .content .brand .brand-rating {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

#sipsy-reviews-container .content .brand .brand-rating img {
    margin-left: 1px;
    margin-right: 1px;
    width: 30px;
    height: 30px;
    object-fit: contain;
}

#sipsy-reviews-container .content .brand .brand-rating-message {
    display: block;
    margin-top: 3px;
    padding-bottom: 5px;
    color: #000000;
    text-align: center;
    font-family: inherit;
    font-size: 16px;
    font-weight: bold !important;
}

#sipsy-reviews-container .content .brand .brand-rating-extended-message {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 2px;
    color: #000000;
    text-align: center;
    font-family: inherit;
    font-size: 14px;
    line-height: 1.4em;
    white-space: nowrap;
}

#sipsy-reviews-container .content .brand .brand-rating-extended-message strong {
    font-weight: 900;
}

#sipsy-reviews-container .content .individual-reviews {
    display: flex;
    flex-direction: row;
    width: 30%;
    height: 100px;
}

#sipsy-reviews-container .content .individual-reviews {
    display: flex;
    width: 600px;
    justify-content: center;
    align-items: center;
}

#sipsy-reviews-container .content .individual-reviews .left-button {
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    color: moccasin;
    display: block;
    height: 40px;
    width: 20px;
}

#sipsy-reviews-container .content .individual-reviews .right-button {
    box-sizing: border-box;
    background: rgb(0, 0, 0);
    color: moccasin;
    display: block;
    height: 40px;
    width: 20px;
}

#sipsy-reviews-container .content .individual-reviews .container {
    box-sizing: border-box;
    display: flex;
    width: 555px;
}

#sipsy-reviews-container .content .individual-reviews .container .review {
    display: flex;
    width: 280px;
    height: 200px;
    padding: 15px !important;
    border-top-width: 2px !important;
    border-bottom-width: 2px !important;
    border-left-width: 2px !important;
    border-right-width: 2px !important;
    background-color: white !important;
    border-style: solid !important;
    border-color: #e5e5e5 !important;
    border-radius: 4px !important;
    background: #ffffff !important;
    backdrop-filter: blur(0px);
    font-size: 14px;
    line-height: 1.4em;
}
/**/
