/* Elementor styling
*/
.elementor {
    width: 100%;
    max-width: 100%;
}

.elementor-section {
    width: 100%;
    max-width: 100%;
}

.elementor-container {
    width: 100%;
    max-width: 100%;
}

.elementor-widget-container {
    width: 100%;
    max-width: 100%;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    width: 100%;
    max-width: 100%;
}

.elementor-column-gap-default > .elementor-column > .elementor-element-populated {
    padding: 0%;
}

.elementor_library-template {
    width: 100%;
    max-width: 100%;
}
/**/

/* Categories Widget Styling */
/**/
#sipsy-categories-widget-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

#sipsy-categories-widget-container .sipsy-categories-widget-title {
    display: block;
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    color: #021739;
    text-align: center;
    font-family: "Ambit Black", sans-serif;
    font-size: 34px;
    font-weight: 900;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 305.66px 305.66px 305.66px;
    grid-template-rows: 333px 333px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    overflow: hidden;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid .sipsy-categories-widget-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    font-family: "Ambit Black", sans-serif;
    overflow: hidden;
    cursor: pointer;
}

#sipsy-categories-widget-container
    .sipsy-categories-widget-grid
    .sipsy-categories-widget-item
    .sipsy-categories-widget-item-image {
    width: 207px;
    height: 248px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    object-fit: contain;
}

#sipsy-categories-widget-container
    .sipsy-categories-widget-grid
    .sipsy-categories-widget-item
    .sipsy-categories-widget-item-image
    img {
    object-fit: contain;
}

#sipsy-categories-widget-container
    .sipsy-categories-widget-grid
    .sipsy-categories-widget-item
    .sipsy-categories-widget-item-name {
    width: 100%;
    box-sizing: border-box;
    color: #021739;
    text-align: center;
    font-family: "Ambit Black", sans-serif;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#sipsy-categories-widget-container
    .sipsy-categories-widget-grid
    .sipsy-categories-widget-item
    .sipsy-categories-widget-item-description {
    height: 34px;
    max-height: 34px;
    color: #021739;
    text-overflow: ellipsis;
    font-family: "Ambit", sans-serif;
    font-size: 14px;
    font-weight: 400;
    overflow: hidden;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid .sipsy-categories-widget-item.first {
    grid-column: 1/2;
    grid-row: 1/2;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid .sipsy-categories-widget-item.second {
    grid-column: 2/3;
    grid-row: 1/2;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid .sipsy-categories-widget-item.three {
    grid-column: 3/4;
    grid-row: 1/2;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid .sipsy-categories-widget-item.fourth {
    grid-column: 1/2;
    grid-row: 2/3;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid .sipsy-categories-widget-item.fifth {
    grid-column: 2/3;
    grid-row: 2/3;
}

#sipsy-categories-widget-container .sipsy-categories-widget-grid .sipsy-categories-widget-item.sixth {
    grid-column: 3/4;
    grid-row: 2/3;
}
/**/
